<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
</head>
<body class="container">
    <br>
    <br>
    <form action='/otp' method= "POST" style="text-align: center;">
        <label for="otp" style="padding-left: 70px;">Enter Otp</label>
        <input id="otp" type="text" name="otp" placeholder="Enter OTP to Decrypt" autocomplete="off" required>
        <input type="submit" name="Decrypt" value="Decrypt">
    </form>
</body>
</html>